.logo {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    margin-top: 37px;  
    margin-left: 80px;
 }
.logo-dot {
    color: #33A2E0;
 }
 .home {
   font-family: 'Roboto', sans-serif;
   font-size: 16px; 
   font-weight: regular;
   line-height: 48px;
   margin-top: 37px;
   margin-left: 225px;
 }
 .button1 {
   width: 152px;
   height: 64px;
   margin-top: 30px;
   margin-left: 1400px;
   margin-right: 68px;
   border: none;
   background-color: #33A2E0;
   font-family: 'Roboto', sans-serif;
   border-radius: 6px;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 32px;
   text-align: center;
   letter-spacing: 0,02em;
   color: #FFFFFF;
   
}
 section {
    display: inline-block;
 }

 .title {
    width: 495px;
    max-width: 100%;
    margin-top: 203px;
    margin-left: 200px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    letter-spacing: 0,02;
    color: #1B0A42;
 }

 .main-text {
    max-width: 583px;
    width: 100%;
    margin-top: 10px;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0,02em;
    color: #9A9A9A;
}
.button2 {
    width: 152px;
    height: 64px;
    margin-top: 60px;
    margin-left: 200px;
    border: none;
    background-color: #33A2E0;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0,02em;
    color: #FFFFFF;
    
}